<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlm.imp.mapper.FamilyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dlm.imp.pojo.FamilyInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="family_name" property="familyName" jdbcType="VARCHAR" />
    <result column="family_title" property="familyTitle" jdbcType="VARCHAR" />
    <result column="surname_id" property="surnameId" jdbcType="INTEGER" />
    <result column="surname" property="surname" jdbcType="VARCHAR" />
    <result column="ancestor_name" property="ancestorName" jdbcType="VARCHAR" />
    <result column="settlement_roughly" property="settlementRoughly" jdbcType="VARCHAR" />
    <result column="settlement_exact" property="settlementExact" jdbcType="VARCHAR" />
    <result column="settlement_time" property="settlementTime" jdbcType="VARCHAR" />
    <result column="emigration_roughly" property="emigrationRoughly" jdbcType="VARCHAR" />
    <result column="emigration_exact" property="emigrationExact" jdbcType="VARCHAR" />
    <result column="emigration_time" property="emigrationTime" jdbcType="VARCHAR" />
    <result column="totem_address" property="totemAddress" jdbcType="VARCHAR" />
    <result column="totem_story" property="totemStory" jdbcType="VARCHAR" />
    <result column="seniority_content" property="seniorityContent" jdbcType="VARCHAR" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="location_code" property="locationCode" jdbcType="VARCHAR" />
    <result column="frozen_flag" property="frozenFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dlm.imp.pojo.FamilyInfoWithBLOBs" extends="BaseResultMap" >
    <result column="family_intro" property="familyIntro" jdbcType="LONGVARCHAR" />
    <result column="ancestor_story" property="ancestorStory" jdbcType="LONGVARCHAR" />
    <result column="other_info" property="otherInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, family_name, family_title, surname_id, surname, ancestor_name, settlement_roughly, 
    settlement_exact, settlement_time, emigration_roughly, emigration_exact, emigration_time, 
    totem_address, totem_story, seniority_content, contactor, phone, location, location_code, 
    frozen_flag, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    family_intro, ancestor_story, other_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dlm.imp.pojo.FamilyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dlm.imp.pojo.FamilyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from family_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from family_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlm.imp.pojo.FamilyInfoWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family_info (family_name, family_title, surname_id, 
      surname, ancestor_name, settlement_roughly, 
      settlement_exact, settlement_time, emigration_roughly, 
      emigration_exact, emigration_time, totem_address, 
      totem_story, seniority_content, contactor, 
      phone, location, location_code, 
      frozen_flag, create_time, update_time, 
      family_intro, ancestor_story, other_info
      )
    values (#{familyName,jdbcType=VARCHAR}, #{familyTitle,jdbcType=VARCHAR}, #{surnameId,jdbcType=INTEGER}, 
      #{surname,jdbcType=VARCHAR}, #{ancestorName,jdbcType=VARCHAR}, #{settlementRoughly,jdbcType=VARCHAR}, 
      #{settlementExact,jdbcType=VARCHAR}, #{settlementTime,jdbcType=VARCHAR}, #{emigrationRoughly,jdbcType=VARCHAR}, 
      #{emigrationExact,jdbcType=VARCHAR}, #{emigrationTime,jdbcType=VARCHAR}, #{totemAddress,jdbcType=VARCHAR}, 
      #{totemStory,jdbcType=VARCHAR}, #{seniorityContent,jdbcType=VARCHAR}, #{contactor,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{locationCode,jdbcType=VARCHAR}, 
      #{frozenFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{familyIntro,jdbcType=LONGVARCHAR}, #{ancestorStory,jdbcType=LONGVARCHAR}, #{otherInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlm.imp.pojo.FamilyInfoWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="familyName != null" >
        family_name,
      </if>
      <if test="familyTitle != null" >
        family_title,
      </if>
      <if test="surnameId != null" >
        surname_id,
      </if>
      <if test="surname != null" >
        surname,
      </if>
      <if test="ancestorName != null" >
        ancestor_name,
      </if>
      <if test="settlementRoughly != null" >
        settlement_roughly,
      </if>
      <if test="settlementExact != null" >
        settlement_exact,
      </if>
      <if test="settlementTime != null" >
        settlement_time,
      </if>
      <if test="emigrationRoughly != null" >
        emigration_roughly,
      </if>
      <if test="emigrationExact != null" >
        emigration_exact,
      </if>
      <if test="emigrationTime != null" >
        emigration_time,
      </if>
      <if test="totemAddress != null" >
        totem_address,
      </if>
      <if test="totemStory != null" >
        totem_story,
      </if>
      <if test="seniorityContent != null" >
        seniority_content,
      </if>
      <if test="contactor != null" >
        contactor,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="locationCode != null" >
        location_code,
      </if>
      <if test="frozenFlag != null" >
        frozen_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="familyIntro != null" >
        family_intro,
      </if>
      <if test="ancestorStory != null" >
        ancestor_story,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="familyName != null" >
        #{familyName,jdbcType=VARCHAR},
      </if>
      <if test="familyTitle != null" >
        #{familyTitle,jdbcType=VARCHAR},
      </if>
      <if test="surnameId != null" >
        #{surnameId,jdbcType=INTEGER},
      </if>
      <if test="surname != null" >
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="ancestorName != null" >
        #{ancestorName,jdbcType=VARCHAR},
      </if>
      <if test="settlementRoughly != null" >
        #{settlementRoughly,jdbcType=VARCHAR},
      </if>
      <if test="settlementExact != null" >
        #{settlementExact,jdbcType=VARCHAR},
      </if>
      <if test="settlementTime != null" >
        #{settlementTime,jdbcType=VARCHAR},
      </if>
      <if test="emigrationRoughly != null" >
        #{emigrationRoughly,jdbcType=VARCHAR},
      </if>
      <if test="emigrationExact != null" >
        #{emigrationExact,jdbcType=VARCHAR},
      </if>
      <if test="emigrationTime != null" >
        #{emigrationTime,jdbcType=VARCHAR},
      </if>
      <if test="totemAddress != null" >
        #{totemAddress,jdbcType=VARCHAR},
      </if>
      <if test="totemStory != null" >
        #{totemStory,jdbcType=VARCHAR},
      </if>
      <if test="seniorityContent != null" >
        #{seniorityContent,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="locationCode != null" >
        #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="frozenFlag != null" >
        #{frozenFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="familyIntro != null" >
        #{familyIntro,jdbcType=LONGVARCHAR},
      </if>
      <if test="ancestorStory != null" >
        #{ancestorStory,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dlm.imp.pojo.FamilyInfoExample" resultType="java.lang.Integer" >
    select count(*) from family_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlm.imp.pojo.FamilyInfoWithBLOBs" >
    update family_info
    <set >
      <if test="familyName != null" >
        family_name = #{familyName,jdbcType=VARCHAR},
      </if>
      <if test="familyTitle != null" >
        family_title = #{familyTitle,jdbcType=VARCHAR},
      </if>
      <if test="surnameId != null" >
        surname_id = #{surnameId,jdbcType=INTEGER},
      </if>
      <if test="surname != null" >
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="ancestorName != null" >
        ancestor_name = #{ancestorName,jdbcType=VARCHAR},
      </if>
      <if test="settlementRoughly != null" >
        settlement_roughly = #{settlementRoughly,jdbcType=VARCHAR},
      </if>
      <if test="settlementExact != null" >
        settlement_exact = #{settlementExact,jdbcType=VARCHAR},
      </if>
      <if test="settlementTime != null" >
        settlement_time = #{settlementTime,jdbcType=VARCHAR},
      </if>
      <if test="emigrationRoughly != null" >
        emigration_roughly = #{emigrationRoughly,jdbcType=VARCHAR},
      </if>
      <if test="emigrationExact != null" >
        emigration_exact = #{emigrationExact,jdbcType=VARCHAR},
      </if>
      <if test="emigrationTime != null" >
        emigration_time = #{emigrationTime,jdbcType=VARCHAR},
      </if>
      <if test="totemAddress != null" >
        totem_address = #{totemAddress,jdbcType=VARCHAR},
      </if>
      <if test="totemStory != null" >
        totem_story = #{totemStory,jdbcType=VARCHAR},
      </if>
      <if test="seniorityContent != null" >
        seniority_content = #{seniorityContent,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="locationCode != null" >
        location_code = #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="frozenFlag != null" >
        frozen_flag = #{frozenFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="familyIntro != null" >
        family_intro = #{familyIntro,jdbcType=LONGVARCHAR},
      </if>
      <if test="ancestorStory != null" >
        ancestor_story = #{ancestorStory,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dlm.imp.pojo.FamilyInfoWithBLOBs" >
    update family_info
    set family_name = #{familyName,jdbcType=VARCHAR},
      family_title = #{familyTitle,jdbcType=VARCHAR},
      surname_id = #{surnameId,jdbcType=INTEGER},
      surname = #{surname,jdbcType=VARCHAR},
      ancestor_name = #{ancestorName,jdbcType=VARCHAR},
      settlement_roughly = #{settlementRoughly,jdbcType=VARCHAR},
      settlement_exact = #{settlementExact,jdbcType=VARCHAR},
      settlement_time = #{settlementTime,jdbcType=VARCHAR},
      emigration_roughly = #{emigrationRoughly,jdbcType=VARCHAR},
      emigration_exact = #{emigrationExact,jdbcType=VARCHAR},
      emigration_time = #{emigrationTime,jdbcType=VARCHAR},
      totem_address = #{totemAddress,jdbcType=VARCHAR},
      totem_story = #{totemStory,jdbcType=VARCHAR},
      seniority_content = #{seniorityContent,jdbcType=VARCHAR},
      contactor = #{contactor,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      location_code = #{locationCode,jdbcType=VARCHAR},
      frozen_flag = #{frozenFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      family_intro = #{familyIntro,jdbcType=LONGVARCHAR},
      ancestor_story = #{ancestorStory,jdbcType=LONGVARCHAR},
      other_info = #{otherInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlm.imp.pojo.FamilyInfo" >
    update family_info
    set family_name = #{familyName,jdbcType=VARCHAR},
      family_title = #{familyTitle,jdbcType=VARCHAR},
      surname_id = #{surnameId,jdbcType=INTEGER},
      surname = #{surname,jdbcType=VARCHAR},
      ancestor_name = #{ancestorName,jdbcType=VARCHAR},
      settlement_roughly = #{settlementRoughly,jdbcType=VARCHAR},
      settlement_exact = #{settlementExact,jdbcType=VARCHAR},
      settlement_time = #{settlementTime,jdbcType=VARCHAR},
      emigration_roughly = #{emigrationRoughly,jdbcType=VARCHAR},
      emigration_exact = #{emigrationExact,jdbcType=VARCHAR},
      emigration_time = #{emigrationTime,jdbcType=VARCHAR},
      totem_address = #{totemAddress,jdbcType=VARCHAR},
      totem_story = #{totemStory,jdbcType=VARCHAR},
      seniority_content = #{seniorityContent,jdbcType=VARCHAR},
      contactor = #{contactor,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      location_code = #{locationCode,jdbcType=VARCHAR},
      frozen_flag = #{frozenFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>